<hr class="featurette-divider">
<footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; 2015–2022 Company, Inc.</p>
</footer>
<div class="short-popup-msg" style="display: none">
    <div class="popup-box">
        <div class="popup-title"></div>
        <div class="popup-desc"></div>
        <div class="popup-msg-progressbar"></div>
    </div>
</div>


<script type="text/javascript">
    let BASE_URL = window.location.origin
</script>
<script src="/assets/common/js/jquery.min.js"></script>
<script src="/assets/common/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/main.js"></script>