<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="generator" content="">
    <title><%= title %></title>

    <link rel="canonical" href="/">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.png">

    <!-- bootstrap minified css  -->
    <link href="/assets/common/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/assets/css/style.css" rel="stylesheet">
</head>