<!doctype html>
<html lang="en">
<%- include('components/head'); -%>

    <body>
        <%- include("components/navbar") %>
            <%- include("components/header-short") %>

                <div class="container">
                    <p class="lead" style="padding: 40px 0 0 0;text-align: center;">
                        OSN is a team of a 8 members who specialized in their field containing<br>
                    </p>
                    <p class="lead" style="text-align: center;">
                        <b>
                            Income Tax Return Filing <br>
                            Dashboard Design <br>
                            Accounting Work <br>
                            Website Development <br>
                            Form Design (UI &amp; UX) <br>
                            Theme Development <br>
                            Logo Designing <br>
                            Mobile App Development <br>
                        </b><br>

                    </p>
                    <p class="lead" style="text-align: justify;">
                        We provide end-to-end services of all our products. We provide services first and then collect
                        our
                        charges and make reminder calls to our customers on ITR filing. Development of softwares for
                        small
                        business that are developed on customer demands. Customer satisfaction is our main priority so
                        that
                        your money does not die.<br>
                        We respect our customers feedback &amp; trying to resolve as soon as possible because we know
                        <b>Your Time is Precious</b>
                    </p>
                    <p class="lead" style="text-align: center;">
                        Inquiry our products by filing our form's link below:<br>
                        <a href="http://localhost/ci-osnservices/contact-us">Inquiry Form</a>
                    </p>
                </div>

                <%- include("components/footer") %>
    </body>

</html>