<!doctype html>
<html lang="en">
<%- include('components/head'); -%>

    <body>
        <%- include("components/navbar") %>
            <%- include("components/image-carousel") %>


                <div class="container features">
                    <div class="row featurette">
                        <div class="col-md-7">
                            <h2 class="featurette-heading fw-normal lh-1">ITR Filing</h2>
                            <p class="lead">Filing your Income Tax Return with OSN Services, give you the best &
                                discount rates from
                                market price. Amazing Cashback and redeem your discount on referral customers.</p>
                            <p>Write your query <a href="/contact-us?q=itr">here</a> to know more our services.
                            </p>
                        </div>
                        <div class="col-md-5">
                            <img class="tile-img" src="/assets/images/firstpage-img-3.png" alt="income-tax-filling" />
                        </div>
                    </div>

                    <hr class="featurette-divider">

                    <div class="row featurette">
                        <div class="col-md-7 order-md-2">
                            <h2 class="featurette-heading fw-normal lh-1">Dashboard Designing</h2>
                            <p class="lead">Analyse your business Ups & Down, Profit & Loss by our Dashboard Product
                                specially design
                                for business purpose.</p>
                            <p>Write your query <a href="/contact-us?q=dashboard">here</a> to know more our services.
                            </p>
                        </div>
                        <div class="col-md-5 order-md-1">
                            <img class="tile-img" src="/assets/images/firstpage-img-1.png" alt="income-tax-filling" />
                        </div>
                    </div>

                    <hr class="featurette-divider">

                    <div class="row featurette">
                        <div class="col-md-7">
                            <h2 class="featurette-heading fw-normal lh-1">Accounting Work</h2>
                            <p class="lead">We are here to helps you in your Business by providing our Accounting Tools
                                specially for
                                accounting & MIS related problem.</p>
                            <p>Write your query <a href="/contact-us?q=accounting">here</a> to know more our services.
                            </p>
                        </div>
                        <div class="col-md-5">
                            <img class="tile-img" src="/assets/images/firstpage-img-2.png" alt="income-tax-filling" />
                        </div>
                    </div>

                </div>


                <%- include("components/footer") %>
    </body>

</html>